<nav class="bg-white border-b border-b-gray-300 shadow-xs">
    <div class="container">
        <div class="flex h-16 justify-between items-center">
            Time Tracker Live
        </div>
    </div>
</nav>

<div class="py-10">
    <div class="container">
        <%= @inner_content %>
    </div>
</div>